<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Football News</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
  <div class = "container">
    <h1 class="text-center mt-2 mb-4">Premier League Football News</h1>
    <img class= "img-fluid" style="width: 100%; height: 400px;" id= "homeimg" src = "https://Football-News-Website.ayushch01ac.repl.co/static/thomas-serer-r-xKieMqL34-unsplash.jpg">
    <h2 class="text-center mt-2 mb-4">
      About Us
    </h2>
    <p class="lead">
      This is a personal blog site about the news regarding the premier league standings, player stats, upcoming matches and current insight about the games taking place and player performances.
    </p>
    <h2 class="text-center mt-2 mb-4">
      Table Points
    </h2>
    <div>
      {% for team in teams %}
      {% include 'teaminfo.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="text-center mt-2 mb-4">
  <button class="btn btn-primary">Home</button>
  </div>
  {% include 'footer.html' %}
  </body>
</html>